.top-nav {
    @apply flex justify-center w-full;
}
.user-form {
    @apply p-6 text-gray-800 text-center;
    @apply rounded-md shadow-sm hover:shadow-md;
    @apply flex flex-col items-center;
    @apply mb-2;
}
.pokeCard {
    @apply p-6 bg-gray-100 text-gray-800 text-center;
    @apply rounded-md shadow-sm hover:shadow-md;
    @apply flex flex-col items-center;
}
.btn-green {
    @apply py-2 px-4 mx-4 text-lg;
    @apply font-semibold;
    @apply rounded-lg;
    @apply shadow-md;
    @apply text-white;
    @apply bg-green-500;
    @apply hover:bg-green-800;
}